ion-content {
  --background: #ffffff;
}

.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.ion-content {
  --background: linear-gradient(0deg, #928d99, #bfaac5);
}

.logo-container {
  text-align: center;
  margin-bottom: 40px;
}

.logo-circle {
  width: 100px;
  height: 100px;
  background: linear-gradient(135deg, #4a148c, #8e24aa);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.bank-name {
  color: #000000;
  font-weight: bold;
  font-style: italic;
  font-family: 'Arial', sans-serif;
  margin: 0;
  font-size: 28px;
}

.slogan {
  color: #000000;
  margin: 8px 0 0;
  font-size: 16px;
}

form {
  margin-bottom: 20px;
}

.custom-input {
  --background: #f0f2f5;
  --border-radius: 10px;
  --padding-start: 12px;
  margin-bottom: 16px;
  box-shadow: none;
  color: #000000;

  ion-input {
    --placeholder-color: #00000036;
    
    --placeholder-opacity: 1;
  }
}

ion-item ion-icon {
  color: #000000;
  margin-right: 8px;
}

.remember-me {
  margin: 12px 0;
  color: #000000;
}

.login-button {
  margin-top: 24px;
  --background: linear-gradient(135deg, #4a148c, #8e24aa);
  --border-radius: 10px;
  height: 48px;
  font-weight: 700;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(74, 20, 140, 0.2);
}

.forgot-password {
  text-align: end;
  margin-top: 16px;
  color: #2c2727c4;
}

.register-button {
  font-weight: 600;
  color: #16148c;
}

.register-link {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: #000000;
  font-style: italic;

  ion-button {
    --color: #000000;
  }
}

.input-icons{
  width: 20px;
  height: 20px;
}


.input-label {
  color: #857979be;
  font-weight: 500;
}

.biometric-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  

  >p {
    color: #000000d0;
    font-weight: 600;
    font-size: 14px;

  }
}

.biometric-login ion-button {
  height: 80px;
  width: 80px;
}
